/* палітра  */
:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --text-color-white: #ffffff;
  --text-color-gray: #757575;
  --background-color: #2f303a;
  --button-background: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif; /* основний шрифт сайту */
  font-size: 16px;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

/* сховати назву секції*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ресет вбудованих стилів браузера*/
* {
  margin: 0;
  padding: 0;
}

/* прибираємо крапки в списків */
li {
  list-style: none;
}

a {
  text-decoration: none; /* прибираємо стандартне підкреслення посилань */
  color: inherit; /* прибираємо колір посилань */
}

header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: flex; /* поставив елементи хедера в ряд */
  align-items: center;
  border-bottom: 1px solid #ececec;
}

/* меню сторінок в хедері */
.main-nav li {
  display: inline-flex;
  align-items: center;
  margin: 32px;
}

/* логотип WebStudio */
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2px;
  color: var(--accent-color);
  letter-spacing: 0.03em;
  margin-left: 215px;
}

/* чорний текст логотипу вгорі  */
.logo-color-up {
  color: var(--primary-text-color);
}

/* білий текст логотипу внизу  */
.logo-color-down {
  color: var(--text-color-white);
}

/* контакти в хедері */
.contacts li {
  display: inline-flex; /* поставив в ряд  */
  color: var(--text-color-gray);
}

/*  посилання наведення/фокус */
a:hover,
a:focus {
  color: var(--accent-color);
}

/* наведення/фокус на кнопки */
.button-style:hover,
.button-style:focus {
  background-color: var(--accent-color);
  color: var(--text-color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* загальний стиль кнопок */
.button-style {
  background: var(--button-background);
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
}

.container {
  width: 1200px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* секції */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* текст головної секції */
.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color-white);
  background-color: var(--background-color);
}

/* кнопка головної секції */
.hero-button {
  font-weight: 700;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--text-color-white);

  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

/* заголовок секції */
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

/* заголовки блоків секції "Наші характеристики" */
.description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

p {
  line-height: 1.71;
  color: var(--text-color-gray);
}
.about {
  font-size: 14px;
}

/* імена під карточками */
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
}

.job {
  text-align: center;
  line-height: 1.18;
}

.portfolio-descripion {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.portfolio-list {
  display: flex;

  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.border {
  border: 1px solid #eeeeee;
}

.item {
  flex-basis: calc(100% / 3 - 30px);
}
/* відступи між блоками */
.portfolio-list li {
  margin-right: 30px;
  margin-bottom: 30px;
}

/* знімаємо відступи знизу */
.portfolio-list li:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

/* кожний 3й елемент знімаємо відступ зправа */
.portfolio-list li:nth-child(3n + 3) {
  margin-right: 0px;
}

.item-description {
  margin-top: 4px;
}

.flex {
  /* flex для всіх секцій */
  display: flex;
}

.flex li {
  /* відступ між блоками */
  margin-right: 30px;
}

/* прибираємо відступи в крайніх правих елементів (кожен 3й) */
.flex li:nth-last-child(-n -3) {
  margin-right: 0px;
}

.porfolio-nav {
  /* кнопки навігації на сторінці портфоліо*/
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  display: flex;
}

footer {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color-gray);
  background-color: var(--background-color);
}

.logo .down {
  margin-top: 60px;
}

address {
  margin-left: 215px;
  margin-top: 20px;
  font-style: normal; /*прибираємо курсив який надає тег "адрес"*/
}

.address {
  color: var(--text-color-white);
}
